html, body {
	font-family: 'Helvetica', sans-serif;
	height: 100%; margin: 0; padding: 0;
	// background: url('../images/background.jpg');
	// color: #fff;
	font-size: 1.3em;
}

a {
	text-decoration: none;
	color: #428bca;
}

a.download {
	font-size: 3em;
	padding: 3%;
}

.icon {
	padding-right: .2em;
}

.container {
	max-width: 75%;
	margin: 0 auto;

}
.shoutout {
	text-align: center;
	padding-top: 1%;
	width: 50%;
	position: relative;
	h1 {
		font-size: 4em;
		font-weight: lighter;
	}

	h3 {
		font-size: 2em;
	}

	.by {
		padding-top: 30px;
	}
}

a.button {
	border-radius: none;
	padding: 10px;
	background-color: #008fd5;
	color: #fff;
	font-size: 1.5em;
	margin-top: 20px;
}

// #info {
// 		// position: absolute;
// 		// z-index: 100;
// 	width: 100%;
// 	bottom: 10px;
// 	text-align: center;
// }


#map-canvas { 
		height: 45%;
		width: 100%; 
		position: absolute;
		bottom: 0;
		// z-index: 0;
	}

.shoutout #form { max-width: 400px; margin: 0px auto 18px auto; text-align: left; padding: 0px; position: relative; }
.shoutout #form #submit { position: absolute; right: 0; background: #008fd5; height: 100%; top: 0px; color: #fff; padding: 0px 0px; width: 45px; text-align: center; font-weight: 100; line-height: 14px; cursor: pointer; transition-duration: 0.2s; transition-property: background; -moz-transition-duration: 0.2s; -moz-transition-property: background; -webkit-transition-duration: 0.2s;  -webkit-transition-property: background; -o-transition-duration: 0.2s; -o-transition-property: background; }
.shoutout #form #submit img { margin-top: -4px; display: none; }
.shoutout #form #submit:hover { background: #428bca; }
.shoutout #form input[type=email] { margin: 0px; border: 0px; font-size: 18px; color: #000; font-weight: 200; font-family: 'Helvetica Neue'; padding: 11px 15px; width: calc(100% - 30px); -webkit-appearance: none; }

#form input {
	background-color: #eee;
}

@media screen and (max-height: 900px) {
	#map-canvas { display: none;}
}

@media screen and (max-width: 500px) {
	.shoutout {
		font-size: .9em;

		h1 {
			font-size: 2.7em;
			max-width: 100%;
		}

	}

	.container {
		width: 95%;
	}
}